body {
    font-family: Arial;
    background-color: rgb(112, 138, 255);
}

.sessao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 400px;
    border-radius: 30px;
}


.texto {
    padding: 0 10px;
}