body {
    font-family: Arial;
    background-color: rgb(112, 138, 255);
}

.sessao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 140px;
    /*flex-wrap: wrap; caso queira colocar um do lado do outro sรณ quando estiver 600px*/ 
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 600px;
    border-radius: 30px;
}


.texto {
    padding: 0 15px;
}

@media (max-width: 900px) {

    .sessao {
        align-items: center;
        flex-direction: column;
    }

}