body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: rgb(255, 0, 0);
}

.sessao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 60vw;
    border-radius: 30px;
}


.texto {
    padding: 0 10px;
}